{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-2",
    "preact"
  ],
  "plugins": [["transform-react-jsx", { "pragma": "h" }]]
}
